/* .f-circle {
  font-family: Arial; 
  font-weight: bold;
  display: block;
  border: 1px solid #860000;
  border-radius: 999px;
  padding: 6px 12px;
  } */

  .top-list-card {
    width:470px;
  }