.contact-container {
  width: 425px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-card {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
}
